@charset "UTF-8";

@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body { font-family: 'Iropke Batang', serif; }


.bodyText {
    display: inline-block;
    width: 80%;
    font-size: 3vw;
}

.goButton {
    margin-top: 10px;
    width: 240px;
    height: 32px;
    background-color: transparent;
    border: 2px solid #2ECEFE;
}

#buttonbuttonyeah{
    display: inline-block;
    width: 200px;
}